
.mainBox{
    position: relative;
    text-align: left;
    
}

.top-left {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 50%;
  }



  @media only screen and (max-width: 600px) {
    .top-left {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
    }
    .top-left .h2{
        font-size:3.3vh;
    }
    .top-left .h5{
        font-size:2.3vh;
    }
    .imageStyle{
        height:350px !important;
        width:100% !important;
    }
  }